<!-- <div class="container">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile class="mat-grid">1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
  </mat-grid-list>
</div> -->

<div class="container">
  <div class="illustration">
    <img
      class="illustration-image"
      src="/assets/images/illustration-image.png"
      alt=""
    />
  </div>
  <div class="login-form">
    <img class="logo" src="/assets/images/notes.png" alt="" />
    <h3 class="title">Scribble Space</h3>
    <!-- <button class="btn btn-primary" (click)="openModal()">Open modal</button> -->

    <app-login-form *ngIf="isLogin"></app-login-form>
    <app-register-form *ngIf="isRegister"></app-register-form>
    <app-forgot-password *ngIf="isForgotPassword"></app-forgot-password>
    <div class="form-element">
      <a
        *ngIf="isLogin && !isForgotPassword"
        routerLink="/forgot-password"
        class="text"
        >Forgot Password?</a
      >
    </div>
    <a *ngIf="isLogin && !isForgotPassword" routerLink="/register" class="text">
      No Account? <span style="color: red">Register Here</span>
    </a>
    <a *ngIf="!isLogin && !isForgotPassword" routerLink="/login" class="text">
      Account Exists? <span style="color: green">Login Here</span>
    </a>
  </div>
</div>
