<!-- <div class="container">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile class="mat-grid">1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
  </mat-grid-list>
</div> -->

<div class="container">
  <div class="illustration">
    <img
      class="illustration-image"
      src="/assets/images/illustration-image.png"
      alt=""
    />
  </div>
  <div class="login-form">
    <img class="logo" src="/assets/images/notes.png" alt="" />
    <h3 class="title">Scribble Space</h3>
    <app-login-form *ngIf="isLogin"></app-login-form>
    <app-register-form *ngIf="!isLogin"></app-register-form>
    <a *ngIf="isLogin" routerLink="/register" class="text">
      No Account? <span style="color: red">Register Here</span>
    </a>
    <a *ngIf="!isLogin" routerLink="/login" class="text">
      Account Exists? <span style="color: green">Login Here</span>
    </a>
  </div>
</div>
