<!-- <div class="container">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile class="mat-grid">1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
  </mat-grid-list>
</div> -->

<div class="container">
  <div class="illustration">
    <img
      class="illustration-image"
      src="/assets/images/illustration-image.png"
      alt=""
    />
  </div>
  <div class="login-form">
    <img class="logo" src="/assets/images/notes.png" alt="" />
    <h3 class="title">Scribble Space</h3>
    <app-login-form></app-login-form>
  </div>
</div>
