<div class="container">
  <nav class="navbar navbar-expand-custom navbar-mainbg">
    <a class="navbar-brand navbar-logo" href="#">Scribble Space</a>
    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <div class="hori-selector">
          <div class="left"></div>
          <div class="right"></div>
        </div>
        <li class="nav-item">
          <a routerLink="allnotes" class="nav-link" href="javascript:void(0);"
            ><i class="fas fa-tachometer-alt"></i>All Notes</a
          >
        </li>
        <li class="nav-item active">
          <a routerLink="directory" class="nav-link" href="javascript:void(0);"
            ><i class="far fa-address-book"></i>Directory</a
          >
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="javascript:void(0);"
            ><i class="far fa-clone"></i>Components</a
          >
        </li> -->

        <li class="nav-item">
          <a routerLink="about" class="nav-link" href="javascript:void(0);"
            ><i class="far fa-chart-bar"></i>About</a
          >
        </li>
        <li class="nav-item">
          <a (click)="logout()" class="nav-link" href="javascript:void(0);"
            ><i class="far fa-copy"></i>Logout</a
          >
        </li>
      </ul>
    </div>
  </nav>
  <!-- <app-directory></app-directory> -->
  <router-outlet></router-outlet>
</div>
