<div class="form-group">
  <div class="form-element">
    <!-- <label class="label" for="name">Username</label> -->
    <input
      type="text"
      placeholder="Name"
      class="form-control"
      id="name"
      required
      name="name"
    />
  </div>
  <div class="form-element">
    <!-- <label class="label" for="name">Username</label> -->
    <input
      type="text"
      placeholder="Username"
      class="form-control"
      id="name"
      required
      name="name"
    />
  </div>
  <div class="form-element">
    <!-- <label class="label" for="name">Password</label> -->
    <input
      type="text"
      placeholder="Password"
      class="form-control"
      id="name"
      required
      name="name"
    />
  </div>
  <div class="form-element">
    <button class="submit-button">Register</button>
  </div>
</div>
