html,
body {
  font-family: "Roboto", sans-serif;
}
.sub-container {
  margin-top: 25px;
}
.heading {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #365cc3;
  text-align: start;
}
.horizontal-line {
  height: 5px;
  min-width: 100%;
  background: #365cc3;
  border-radius: 10px;
}
.horizontal-line-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0px;
}
.container:after {
  content: " ";
  display: block;
  height: 2rem;
  width: 1rem;
}

/* Beginning of Grid */

.grid-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  columns: 5;
}
.grid-item {
  height: 15rem;
  width: 10rem;
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  cursor: pointer;
}
.grid-item:hover {
  border-color: #365cc3;
}

/* End of grid */

.illustration {
  height: 7rem;
  width: 5rem;
  padding-top: 10px;
  border-radius: 10px;
  /* background-color: white; */
}
.illustration-image {
  /* 1.33 */
  /* height: 33.25rem;
  width: 25rem; */
  max-width: 75%;
  max-height: 75%;
}

.scribble {
  background-color: #ffffff;
  height: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  padding: 10px;
  overflow: hidden;
  overflow-y: scroll;
  font-size: 1rem;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
.heading-container {
  /* overflow: hidden; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.file-heading {
  font-size: 16px;
  font-weight: 500;
  color: #111111;
  margin: 0px;
  width: 100%;
  white-space: nowrap;
  align-items: center;
  padding: 5px;
}

.menu-button {
  display: inline;
  justify-self: flex-end;
  align-self: center;
  border-color: transparent;
  position: absolute;
  right: 0;
  z-index: 1000;
  width: auto;
  line-height: 5px;
  padding: 0;
  margin: 0;
}

.menu-button:hover {
  background-color: #a4a6a5;
  border-radius: 100%;
}

::ng-deep .mat-menu-panel {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
